<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <style>
        #fullName::placeholder,
        #email::placeholder,
        #password::placeholder {
            color: rgba(23, 162, 184, 0.5);
        }
    </style>
    <title>Signup</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <form action="/user/signup" method="post" class="w-50 shadow p-4 rounded bg-dark mb-5">
            <h3 class="text-center mb-4 text-info"><u>SignUp</u></h3>
            <div class="mb-3">
                <label for="fullName" class="form-label fs-4 text-info">Full Name</label>
                <input type="text" class="form-control bg-dark shadow-none"  placeholder="example" name="fullName" id="fullName" required>
            </div>
            <div class="mb-2">
                <label for="email" class="form-label fs-4 text-info">Email address</label>
                <input type="email" name="email" class="form-control bg-dark shadow-none" id="email" placeholder="example@email.com" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fs-4 text-info">Password</label>
                <input type="password" name="password" class="form-control bg-dark shadow-none" id="password" placeholder="********" required>
            </div>
            <button type="submit" class="btn btn-outline-warning w-100 mb-3 fs-5 mt-4">Submit</button>
            <p class="text-center fs-5 text-secondary">Already have an account? <a href="/signin">Login</a></p>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>
